$primary-color: #b3b3b3;
$secondary-color: #3D8FE1;
$bg-dark: #242424;
$bg-light: #ffffff;
$button-bg: #1a1a1a;
$light-button-bg: #f9f9f9;

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 1081px, 
  'xl': 1280px,  
  '2xl': 1536px   
);